#Contact {
  margin: auto;
}

#About {
  
 background:url(assets/hope.image.png) no-repeat center center fixed; 
  padding: 10px 10px;
  width:100%vp;
  height:100%vp;
  background-size: cover;
  background-color: transparent;
}
.navbar {
  background-color: #253336;
}


.navbar .navbar-nav{
  margin : 50px 350px;

  line-height: normal;
  text-align: justify;
 font-family: 'Times New Roman', Times, serif;
 font-size: larger;
 font-weight: bolder;
 color: cyan;
 font-stretch: widers;}
 .navbar .navbar-nava:hover{
   color: deepskyblue;

  }



.navbar-brand{ 
  margin:0px 150px;

}
  
.card-footer{
  padding: 20px;
  margin-top: 400px;
}
#p1{
  margin:auto;
  padding-left: 0pc;
}
#img{
  width: 250px;
  height:250px;
  margin-top: 50px 50px;
  padding: 10px 15px;
  
}

 .row{
   margin:15px 15px;
 }

#Portfolio{
  margin-bottom: 15px;
  background: url(assets/sunrise.png) no-repeat center center fixed; 
}

#portfolio span{
  padding :10px 20px 10px 20px ;
}

#portfolio hr{
  border-width: 3px;
  margin-top: 06px;
}
#contact{
  padding:50px 50;
  margin:auto;
  
}
.Portfolio{
  border: 1px;
}
#contact span{
  padding :10px 20px 10px 20px ;
}

#contact hr{
  border-width: 3px;
  margin-top: 06px;
}
 /* class selectors */
.container {
  background-color: #B5D4C9; 
  margin-top: 50px; 
  margin-bottom: 50px; 
  padding-top: 10px; 
  padding-bottom: 10px; 
}
.footertext{
 color :white;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: cyan;
  text-align: center;
  padding: .5em; 
}